{% extends "base.html" %}

{% block title %}Motoristas{% endblock %}

{% block content %} 
    <table>
        <thead>
            <th>ID</th>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
        </thead>
        <tbody>
            {% for entry in users %}
            <tr>
                <td>{{ entry.id }}</td>
                <td>{{ entry.name }}</td>
                <td>{{ entry.phone }}</td>
                <td>{{ entry.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock%}