{% extends "base.html" %}

{% load resources_extras %}

{% block title %}Lista de Veículos{% endblock %}

{% block content %} 
    <table>
        <thead>
            <th>ID</th>
            <th>Veículo</th>
            <th>Placa</th>
            <th>Fabricante</th>
            <th class="actions"></th>
        </thead>
        <tbody>
            {% for entry in vehicle_list %}
            <tr>
                <td><a title="Editar" href="{% url 'vehicle_update' entry.id %}">{{ entry.id }}</a></td>
                <td>{{ entry.name | maiusculo}}</td>
                <td>{{ entry.plate | formatPlaca}}</td>
                <td>{{ entry.manufacturer | maiusculo}}</td>
                <td><a class="glyphicon glyphicon-trash" href="{% url 'vehicle_delete' entry.id %}"/></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock%}
